html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(60, 60, 60);
  color: white;
}

h1 {
  text-align: center;
  padding: 0;
  margin: 50px 10px 10px;
  font-family: 'Abril Fatface';
  font-size: 60px;
  color: rgb(238, 238, 238);
}

#login {
  position: absolute;
  top: 30px;
  margin-left: 20px;
}

.addPerson {
  display: inline;
  position: absolute;
  right: 20px;
  top: 10px;
}

.addPerson h3 {
  display: inline;
  text-align: left;
}

#addPerson {
  text-align: right;
}

#showName {
  text-align: right;
  margin-right: 40px;
}

.changeWeek {
  display: flex;
  width: 400px;
  align-items: start;
  justify-content: center;
}

#currentWeek {
  display: inline;
  margin: 0 30px 20px;
  font-size: 1.2em;
}

#prevWeek, #nextWeek {
  border: 2px solid rgb(227, 0, 15);
  border-radius: 5px;
  width: 70px;
}

.createDay {
  padding: 0;
  margin: 20px 0;
  text-align: center;
  font-size: 20px
}

.week {
  display: flex;
  flex-direction: row;
  margin: 0 auto 50px;
  width: 95%;
  border: 5px solid rgb(5, 61, 205);
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(220, 220, 220);
}

.day {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  /* background-image: linear-gradient(180deg, rgb(33, 88, 227), rgb(104, 201, 254)); */
  background-image: linear-gradient(180deg, rgb(18, 18, 18), rgb(176, 176, 176));
  border: 2px solid rgb(28, 92, 252);
  border-radius: 7px;
  padding: 3px;
  margin: 3px;
  min-height: 200px;
  width: 100%;
}

.event {
  position: relative;
  flex: 1;
  font-size: 1.2em;
  color: rgb(238, 238, 238);
  border: 4px solid rgb(225, 225, 225);
  border-radius: 7px;
  padding: 0;
  margin: 2%;
  max-height: 300px;
  min-height: 180px;
  width: 90%;
  height: 100px;
  background-color: rgb(0, 46, 162);
  overflow-y: auto;
  /* background-image: linear-gradient(-20deg, rgb(33, 88, 227), rgb(132, 212, 255)); */
  /* background-image: rgb(5, 61, 205) */
}

.dayHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.dayHead div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(254, 70, 70);
  /* border: 2px solid white;
  border-radius: 8px; */
}

.dayName {
  font-size: 20px;
}

.showTimes {
  font-size: 15px;
  margin: 5px;
}

.event h3, .event h4 {
  margin: 5px;
}

.event p {
  font-size: 15px;
  margin: 15px;
}

.infoP {
  font-size: 8px;
  margin: 10px;
}

.refresher {
  display: flex;
  justify-content: center;
}

#refresh {
  width: 100px;
  height: 20px;
  color: rgb(242, 242, 242);
  background-color: rgb(116, 116, 245);
}

.createDash {
  margin-top: 50px;
  margin-bottom: 200px;
}

.createDay {
  font-size: 30px;
}

/* .grid {
  display: grid;
  margin: 0 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:  'loc time ppl'
                        'info . chosen'
                        'submit . .';
} */

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-right: 70px; */
  margin: 10px 70px 10px 0;
}

.chosen {
  min-height: 20px;
  min-width: 350px;
  background-color: rgb(207, 206, 206);
}

.chosen h6 {
  font-size: 15px;
  margin: 5px;
  font-weight: bold;
  color: black;
}

.chosen p {
  font-size: 16px;
  margin: 10px 5px;
  color: black;
}

.preview {
  height: auto;
  min-height: 100px;
  width: 90%;
  margin: 0 auto;
}

#addEvent {
  margin-left: 100px;
}

.deleteE {
  position: absolute;
  bottom: 0px;
  /* left: 36%; */
  right: 2px;
  background-color: rgb(198, 198, 198);
  color: rgb(174, 0, 0);
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid rgb(187, 21, 21);
  height: 22px;
  margin: 0 auto 2px;
  
}